#title_header {
  background-repeat: repeat-x;
  background-position: 0 0;
  font-size: 8em;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Luckiest Guy';
  color: transparent;
  text-shadow: rgba(255, 244, 0, 0.3) 3px 0 0;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;

  animation: BackgroundAnimated 45s linear infinite;

  background: url("../../images/header.jpg");
}




@keyframes BackgroundAnimated {
  0% {
    background-position: 0vw 0;
  }
  100% {
    background-position: 100vw 0;
  }
}
