#title_header {
  background-repeat: repeat-x;
  background-position: 0 0;
  font-size: 15vw;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Luckiest Guy';
  color: transparent;
  text-shadow: rgba(255, 244, 0, 0.3) 3px 0 0;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;

  animation: BackgroundAnimated 45s linear infinite;

  background: url("../../images/header.jpg");
}

@keyframes BackgroundAnimated {
  0% {
    background-position: 0vw 0;
  }
  100% {
    background-position: 100vw 0;
  }
}

.hover-letter {
    position: relative;
    text-align: center;
}
.hover-letter span {
    color: #337AB7;
    line-height: 1.2;
    font-weight: bold;
    transition: all 0.9s ease-in-out; 
    position: relative;
    text-transform: uppercase;
    top: 0px;
    left: 0px;
    cursor: default;
    z-index: 1; 
}
.hover-letter span:hover {
    text-shadow: -8px 8px 0 rgba(0,0,0, 0.2); 
    color: #000;
    top: -8px;
    left: 8px;
    z-index: 2; 
}
@media screen and (max-width: 767px) {
    .hover-letter span {
        font-size: 28px;
    }
}

body > a {
  display: inline-block;
  margin: 15px;
}

body > a button {
  width: 220px;
  color: inherit;
  margin-top: 1em;
}