body {
  font-family: cursive;
  justify-content: center;
  padding-bottom: 20vh;
}

body > section {
  width: 70vh;
  max-width: 100vw;
  font-size: 1.1em;
  user-select: text;
  background: white;
  min-height: 90vh;
  padding: 5vh;
}

section code {
  width: 80%;

}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

a {
  border: none;
}

#empty{ 
 position: relative;
 padding: 19px 36px;
 display: block;
 text-decoration: none;
 text-transform: uppercase;
 overflow: hidden;
 border-radius: 50px;
 -moz-transition: all 0.2s linear;
 -o-transition: all 0.2s linear;
 -webkit-transition: all 0.2s linear;
}

#empty span {
 position: relative;
 color: #fff;
 font-family: Arial;
 letter-spacing: 8px;
 z-index: 1;
}

button .liquid {
 position: absolute;
 top: -80px;
 left: 0;
 width: 100%;
 height: 200px;
 background: rgba(255,150,0,1);
 box-shadow: inset 0 0 50px #4973ff;
 transition: 0.5s;
}

button .liquid::after,
button .liquid::before {
 content: '';
 width: 200%;
 height: 200%;
 position: absolute;
 top: 0;
 left: 50%;
 transform: translate(-50%, -75%);
 background: #fff;
}

button .liquid::before {
 border-radius: 45%;
 background: rgba(20, 20, 20, 1);
 animation: animate 5s linear infinite;
 contain: size;
}

button .liquid::after {
 border-radius: 40%;
 background: rgba(20, 20, 20, 0.5);
 animation: animate 10s linear infinite;
 contain: size paint;
}

button:hover .liquid {
 top: -120px;
}

#empty:hover {
  text-shadow: rgba(255, 244, 0, 0.3) 3px 0 0;
  box-shadow: 0px 15px 27px -13px rgba(0, 0, 0, 0.77);
}

@keyframes animate {
 0% {
  transform: translate(-50%, -75%) rotate(0deg);
 }

 100% {
  transform: translate(-50%, -75%) rotate(360deg);
 }
}
