body {
  font-family: cursive;
  padding-bottom: 20vh;
}

body > section {
  width: 70vh;
  max-width: 100vw;
  font-size: 1.1em;
  user-select: text;
  background: white;
  min-height: 90vh;
  padding: 5vh;
}

section code {
  width: 80%;

}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

a {
  border: none;
}

#empty{ 
 position: relative;
 padding: 19px 36px;
 display: block;
 text-decoration: none;
 text-transform: uppercase;
 overflow: hidden;
 border-radius: 50px;
 -moz-transition: all 0.2s linear;
 -o-transition: all 0.2s linear;
 -webkit-transition: all 0.2s linear;
}

#empty span {
 position: relative;
 color: #fff;
 font-family: Arial;
 letter-spacing: 8px;
 z-index: 1;
}

button .liquid {
 margin-top: 10px;
 width: 100%;
 height: 220px;
 background: url("../../images/headerBlue.jpg");
 background-size: 100%;
 border-radius: 50px;
}

#empty:hover {
  text-shadow: rgba(255, 244, 0, 0.3) 3px 0 0;
  background: #4e54c8;
  box-shadow: 0 0 5px #ae00ff, 0 0 10px #001eff, 0 0 20px #ae00ff;
}

@keyframes animate {
 0% {
  transform: translate(-50%, -75%) rotate(0deg);
 }

 100% {
  transform: translate(-50%, -75%) rotate(360deg);
 }
}
