textarea {
  margin-top: 15px;
}

section {
  display: flex;
  flex-direction: column;
}

a button {
  margin: auto;
  margin-top: 20px;
}

#buttonCreate {
 width: 100%;
 padding: 15px 25px;
 border: unset;
 z-index: 1;
 color: black;
 background: gray;
 border-radius: 0 0 10px 10px;
 position: relative;
 font-weight: 1000;
 font-size: 17px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

#buttonCreate::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 background-color: #212121;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 1500ms
}

#buttonCreate:hover {
 color: rgba(255,150,0,0.8);
 -webkit-box-shadow: 2px 4px 9px -5px rgba(255,150,0,0.8);
 box-shadow: 2px 4px 9px -5px rgba(255,150,0,0.8);
}

#buttonCreate:hover::before {
 width: 100%;
}

@keyframes checkClick {
  0% {
    -webkit-box-shadow: 2px 4px 9px -5px green;
    box-shadow: 2px 4px 9px -5px green;
  }
  50% {
    -webkit-box-shadow: 2px 4px 19px -5px green;
    box-shadow: 2px 4px 19px -5px green;
  }
  75% {
    -webkit-box-shadow: 2px 4px 15px -5px green;
    box-shadow: 2px 4px 15px -5px green;
  }
  100% {
    -webkit-box-shadow: 2px 4px 9px -5px rgba(255,150,0,0.8);
    box-shadow: 2px 4px 9px -5px rgba(255,150,0,0.8);
  }
}

#pointedList {
  margin-top: 15px;
  padding: 0;
  list-style: none;
}

#pointedList li{
  width: 100%;
  clear:left;
  overflow: hidden;
  color: gray;
}

#pointedList li span{
  display: block;
  float: left;
  min-width: 0px;
  margin-bottom: 3px;
  padding: 10px;
  color: linear-gradient(231deg, rgba(0,30,36,1) 50%, rgba(0,1,10,1) 100%) no-repeat;
}

#pointedList li:hover span {
  color: rgba(255,150,0,0.8);
  cursor: pointer;
  border-radius: 0;
  background: #212121 no-repeat;
  min-width: 100%;
}

#pointedList li:hover #upSpan {
  border-radius: 10px 10px 0 0;
}