
section {
  display: flex;
  flex-direction: column;
}



a button {
  font-size: 0.8em;
  margin-top: 20px;
}




#textControll button {
  width: fit-content;
}

#textControll > button {
  display: none;
}
