* {
  margin: 0px;
  padding: 0px;
  flex-shrink: 0;
}

body {
  min-height: 100vh;
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  display: block;
}
